
.reginput {
    border-radius: 15px 50px 30px;
    border: 2px solid #93d4f7;
    padding: 20px; 
    width: 30%;
    height: 15px; 
    margin-top: 10px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8f8fa1;
    font-family: "Ubuntu-Bold";
    opacity: 1; /* Firefox */
    font-size: 18px;
  }
